# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OtherVSFile
*.pdb
*.idb
*.log
*.tlog
*.ilk
*.VC.db
*.VC.opendb
*.suo

# ExeLogFile
server-log.ini
log-0.txt

#dir
/.vs/
/.git/
/x64/
/Release/
/Debug/
/Server/x64/
/Server/Release/
/Server/Debug/
/Client/x64/
/Client/Release/
/Client/Debug/
/Common/x64/
/Common/Release/
/Common/Debug/
/Common/lib/





